html {
    background-color: black;
    font-size: 100%;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 0.7rem;
    background-color: white;
    border-radius:8px;
    padding: 2px;
    padding-top: 3px;
    width: 100%;
}

#interface {
    display: flex;
    flex-direction: column;
    border: solid white 2px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

#display {
    background-color: gray;
    align-self: stretch;
    padding-top: 1em;
    text-align: right;
    min-height: 30px;
    padding-right: 10px;
    border: solid white 2px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5em;
}

.operator-btn:active,
.operator-btn:focus {
    background-color: #ccc;
}

#divide,
#multiply,
#minus,
#plus {
    background-color: #e85b48;
}

#negative,
#backspace,
#percent,
#clear {
    background-color: #6d42c7; 
}

.num-btn {
    background-color: #8aacff;
}

#decimal,
#equals {
   background-color: #626fe6;
}

#divide,
#multiply,
#minus,
#plus,
#negative,
#backspace,
#percent,
#clear,
.num-btn,
#decimal,
#equals {
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    color: white;
    border-color: white;
    font-weight: bolder ;
    font-size: 1.5rem;
}

img{
    width: 70%;
    height: auto;
}