html {
    background-color: rgb(76, 75, 75);
    font-size: 100%;
    touch-action: manipulation;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.4);
    background-color: #332a40;
    background-size: 35.3px 40px;
    background-image:  repeating-linear-gradient(to right, #b44e99, #b44e99 1px, #332a40 1px, #332a40);
    border: solid 2px white;
    border-radius:8px;
    padding: 2px;
    padding-top: 3px;
    width: 70%;
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
}

#interface {
    display: flex;
    flex-direction: column;
    border: solid white 2px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: rgb(209, 209, 209);
    -moz-box-shadow: 0 0 100px #000000;
    -webkit-box-shadow: 0 0 100px #000000;
    box-shadow: 0 0 100px #000000;
}

#display {
    background-color: gray;
    align-self: stretch;
    padding-top: 1em;
    text-align: right;
    min-height: 30px;
    padding-right: 10px;
    border: solid white 2px;
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5em;
}

#divide,
#multiply,
#minus,
#plus {
    background-color: #ffcc00;
    color: black;
}

#negative,
#backspace,
#percent,
#clear {
    background-color: #354d68; 
    color: white;
}

.num-btn {
    background-color: #1a2634; 
    color: white;
}

#decimal,
#equals {
    background-color: #1a2634; 
    color: white;
}

#divide,
#multiply,
#minus,
#plus,
#negative,
#backspace,
#percent,
#clear,
.num-btn,
#decimal,
#equals {
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    border-color: white;
    font-weight: bolder ;
    font-size: 1.5rem;
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
    border-radius: 30%;
}

img{
    width: 70%;
    height: auto;
    opacity: 0.4;
}

#divide:active,
#divide:focus,
#multiply:active,
#multiply:focus,
#minus:focus,
#minus:active,
#plus:active,
#plus:focus {
    background-color: #ffac4d;
}

#percent:active,
#percent:focus {
    background-color: #2a5993; 
}
